*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
#container{
margin:30px;
 text-align: center;

}
h1{
    color:white;
    font-size: 55px;
    text-decoration:underline;
    font-family: 'Roboto Slab', serif;
}
#outputtext{
    color:whitesmoke;
    margin:30px ;
    font-size : 34px;
}
#userinput{
    height:60px;
    width:400px;
    margin:18px;
    font-size:25px;
    cursor:pointer;
}
#counts{
    color:white;
    margin:0px auto;
    font-size :25px;
}
#Enterbutton{
    margin:20px;
    font-size:22px;
    padding:10px 10px;
    border-radius: 8px;
    cursor:pointer;
}
#againbutton{
    margin:0px;
    font-size:24px;
    padding:8px 8px;
    border-radius: 8px;
    cursor:pointer;
}